
.contenedor-eras {
    display: flex;
    justify-content: center;
}

#imagen-erastour {
    margin-bottom: 1%;
    width: 700px;
    margin-top: 15px;
}

.texto-eras {
    display: flex;
    text-align: center;
    margin-left: 10px;
    color: $color-principal;
    font-weight: bold;
    
}

.titulo-eras {
    @include flex-center;
    color: $color-principal;
    text-decoration: underline;
    margin-top: 10px;
    
    
}

.texto-taylor-argentina {
    @include flex-center;
    color: $color-principal;
    text-decoration:underline;
    text-align: center;
    
}

.texto-taylor-buenos-aires {
    justify-content: center;
    color: $color-principal;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;

}

.contenedor-taylor-argentina {
    justify-content: center;
}

.contenedor-imagen-1 {
    @include flex-center;
    gap: 5px;
}

.contenedor-imagen-2 {
    @include flex-center;
    gap: 5px;
    margin-top: 5px;
}

.contenedor-imagen-3 {
    @include flex-center;
    gap: 5px;
    margin-top: 5px;
}

.derechos {
    @include flex-center;
    align-items: center;
    color: $color-fuente-2;
}


@media only screen and (max-width: 500px) {
    
    .contenedor-eras {
        display: flex;
        justify-content: center;
    }
    
    #imagen-logo {
        display: flex;
        margin: 0;
    
    }
    .contenedor-logo {
        height: 96px;
    }
    #contenedor-menu-hamburguesa {
        margin-left: 72px;
    }

    #menu {
        margin: 0;
    }

    #navbarNav {
        background-color: $color-principal;
    }

    #imagen-erastour {
        width: 300px;
    }

    .texto-eras {
        margin-top: 10px;
    }

    #imagen-1-eras {
    margin-bottom: 5px;
    }

    #imagen-3-eras {
        margin-bottom: 5px;
    }

    #imagen-5-eras {
        margin-bottom: 5px;
    }

    .contenedor-imagen-1 {
        display: inline-block;

    }

    .contenedor-imagen-2 {
        display: inline-block;
    }

    .contenedor-imagen-3 {
        display: inline-block;
        }

        .contenedor-taylor-argentina {
            margin: 10px;
        }

        .titulo-eras {
            @include flex-center
        }

        .texto-taylor-argentina {
            @include flex-center
        }

        .texto-taylor-buenos-aires {
            @include flex-center
        }

        .texto-eras {
            @include flex-center
        }

        .derechos {
            @include flex-center;
        }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
    .contenedor-eras {
        display: flex;
        justify-content: center;

    }

    #imagen-erastour {
        width: 400px;
    }

    .texto-eras {
        @include flex-center;
        text-align: center;
    }

    .texto-taylor-buenos-aires {
        @include flex-center;
        text-align: center;
    }

    .texto-taylor-buenos-aires {
        @include flex-center;
        text-align: center;
    }

    #imagen-1-eras {
        margin-bottom: 5px;
        }
    
        #imagen-3-eras {
            
            margin-bottom: 5px;
        }
    
        #imagen-5-eras {
            
            margin-bottom: 5px;
        }
    
        .contenedor-imagen-1 {
            display: inline-block;
            text-align: center;
            
        }
    
        .contenedor-imagen-2 {
            display: inline-block;
            text-align: center;
        }
    
        .contenedor-imagen-3 {
            display: inline-block;
            text-align: center;
            }

            .contenedor-taylor-argentina {
                margin: 10px;
            }


}
